/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

/*
 * Main
 */

/* Handles title and volcano hanging effects */
@-webkit-keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    50% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    100% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}
@keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    50% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    100% {
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}
.cover-message img {
    width: 50%;
}

.cover-message-title {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}


/* Handles the pulsing of the highscore display */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    75% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    75% {
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
    }
}

.cover-message-score {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Other homepage styling */

.cover {
    padding: 0 1.5rem;
}

.cover .cover-heading {
    font-size: 4rem;
    font-family: 'Unica One', cursive;
}

.cover .highscore-heading {
    font-size: 2.75rem;
}

.cover .highscore-description {
    font-size: 1.5rem;
}

.cover .highscore-description kbd {
    font-size: 1.5rem;
}

.cover .cover-message {
    padding-bottom: 3em;
}

.cover .form-signin input[name="username"] {
    margin-bottom: 30px;
    height: 80px;
    font-size: 2.25rem;
}

.cover .form-signin button[type="submit"] {
    font-size: 2.25rem;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

/*
* how to play
*/
.modal-title{
  color: rgb(205,68,74);
}

.modal-content{
  background-color: rgb(51,51,51);
}
.modal-body{
  color: rgb(247,195,68);
}
